div {
  display: flex;
  flex-direction: column;
  column-gap: 30px;
  justify-content: center;
  align-items: center; 
}
.username{
  padding: 15px 10px;
}

.password{
  padding: 15px 10px;
}

.loginButton{
  font-size: 15px;
  padding: 10px 80px;
  color: white;
  border: none;
  border-radius: 7px;
  background-color: #F9EF19;
  cursor: pointer;
}                                                                